.top_soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    justify-content: center;
}
/*col col-4 top_soc*/
.top_line .top_soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative;
    justify-content: center;
    gap: 15px;
}
.top_line .top_soc a {
    display: block;
}
.top_line .top_soc a img {
    display: block;
    max-width: 17px;
    width: 100%;
}

a, a:hover {
    transition: 0.5s;
    text-decoration: none;
    outline: none;
}

.header {
    display: block;
    width: 100%;
    position: relative;
}

.top_line {
    border-bottom: 1px solid #d2d2d2;
}

.hidden {
    display: none;
}
.top_line .top_soc a {
    display: block;
}
.top_line .top_soc a img {
    display: block;
    max-width: 17px;
    width: 100%;
}
.socials-container {
    height: 40px;
    background-color: #fff;
    border: solid 1px #f2f2f2;
    position: absolute;
    left: 160px;
    top: 28px;
    display: none;
    z-index: 2;
}
.socials-container ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
    text-align: center;
}
.socials-container li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
.top_line .top_soc a {
    display: block;
}
.top_line .top_soc a img {
    display: block;
    max-width: 17px;
    width: 100%;
}
