footer {
    display: block;
    position: relative;
    width: 100%;
    z-index: 999;
    min-height: 210px;
    border-top: 2px solid #bbb;
    padding: 35px 0 0;
    background-color: #fff;
}
@media screen and (min-width: 992px) {
    .mobile-view {
        display: none !important;
    }
}

footer ul {
    margin: 15px 0 30px;
    padding: 0;
}

footer ul li {
    list-style: none;
}
footer ul a {
    display: block;
    padding: 5px 0;
    color: #444;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 12px;
}
footer .menu-title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}
@media screen and (min-width: 992px) {
    .social-buttons {
        justify-content: flex-end;
    }
}

.social-buttons {
    display: flex;
}
.social-buttons a img {
    display: block;
    width: 24px;
    height: 24px;
    opacity: 1;
    -webkit-opacity: 1;
    transition: .2s;
    -webkit-transition: .2s;
}
.social-buttons a {
    margin-left: 12px;
}
.copyright-wrap {
    border-top: 1px solid #eee;
    padding: 30px 0 55px;
}
.copyright-wrap .develop a {
    color: #666;
    text-decoration: underline;
}
.copyright-wrap .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
