/*inline-flex gap-1 bg-gray-50 p-1 rounded-2xl*/
.categories-items {
  display: flex;
  gap: 4px;
  background-color: gray;
  padding: 4px;
}
/*sticky top-0 bg-white py-5 shadow-lg shadow-black/5 z-10*/
.top-bar {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 10;
}
/*flex items-center justify-between*/

.top-bar .container {
  display: flex;
  justify-content: space-between;
}