.modal {
    position: fixed;
    background-color: rgba(0,0,0,0.60);
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-inline: auto;
}
/**
"fixed z-10 left-0 right-0 top-0 bottom-0 mx-auto bg-black/60"
*/
.modalWrap {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
/**
"absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full sm:w-10/12 md:w-8/12 lg:w-1/2 p-6"
*/